/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.card {

font-family: sans;
 font-size: 9pt;
/* height:38mm;
 max-height: 38mm;
 width:33mm;
*/ /*max-width:63mm;*/
width:59mm;

 padding:0;
 margin:0;
}


.card .content {
    box-sizing: border-box;
    height:88mm;
 padding:5mm;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    align-content: center;
    overflow: hidden;
    background: white;

   background: -o-linear-gradient(82deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%, rgba(246,246,246,1) 100%);
   background: linear-gradient(8deg, rgba(200,200,200,1) 0%, rgba(255,255,255,1) 100%, rgba(246,246,246,1) 100%);  width:63mm;
  
  border-radius: 2mm;
}

.card  .title {

    width:50mm;

    font-size: 11pt;
    padding: 1pt;
    border:0.8mm ridge #bbb;
    background: #bbb;
    text-align: center;
    border-radius:3mm;
    color: #000;

}

.card .types {
        width:50mm;

    margin: 1mm;
    font-size: smaller;

}

.card .types {
    display: flex;
    justify-content: space-between;
}
.card .illu {
    width:50mm;

    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border:1mm ridge #ddd;
    border-radius:2mm;
    background: white;
}

.card .footer {
    display: none;
    font-size: 4pt;
    text-align: right;
    margin: 0;
    padding: 0;
    border-top: 1pt solid black;
}

.card .rule{
        width:50mm;

    margin:2mm 1mm;
}

.card .rule_type:after{
    content:'';
}
.card .rule_type {
    
    /*color: #444;*/
    color: #000;
    font-size: 5pt;
    text-transform: uppercase;
    line-height: 3pt;

        
}
.card .rule_text {
        border-radius:1mm;
        padding:0.5mm;
    background: rgba(255,255,255,0.3);

}