/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


body{
    background: #abc;
    font-family: sans;
    font-size: 8pt;
    margin: 0;

}

.editor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
.card_container, .form_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding:10px;
        display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.card_container>a{
    margin: 1pt;
}

.card_container.selected {
    background: rgba(100,255,100,0.3);
}

.card_edit_menu *{
    display: block;
    margin:2px;
}
.card_edit_menu a{
    color:white;
}
.card_edit_menu a:hover{
    color:#aaa;
}
.card_edit_menu{
    margin-top: 5px;
    color: white;
    background: rgba(0,0,0,0.3);
    display: flex;
    width: 100%;
    align-content: space-between;
    align-items: center;
}

.card_edit_menu button, .card_edit_menu input{
    background: #aaa;
    padding:1px;
    margin:1px;;
    font-size:8pt;
    line-height: 0;
    font-weight: bold;
    width:16px;
    height:16px;
    border:1px solid black
}

.card_edit_menu button:hover, .card_edit_menu input:hover{
    background: #fff;
}

.card_edit_menu input {
    width:22px;
}
.rule_form {
    border: 1px solid white;
    margin:5px;
    padding: 5px;
}

nav
{
    background: black;
    width:100%;
    height: 16px;
}

nav * {
    color:#abc;
    margin:2px;
}

/*.card:hover{
    -webkit-transition: -webkit-transform 10s;
    transition: -webkit-transform 10s;
    -o-transition: transform 10s;
    transition: transform 10s;
    transition: transform 10s, -webkit-transform 10s;
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);

}
*/
.print {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}